@import "./color.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

@layer base {
  * {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    @apply underline-offset-4;
  }
}
