@media print {
  #page-main * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 1.5 !important;
  }

  #page-main .tips,
  #page-main .info,
  #page-main .warning,
  #page-main .error,
  #page-main .success {
    @apply !my-2;
  }
}
